.js-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 24px auto;
  list-style: none;
  max-width: 1128px;
  max-height: 648px;
  gap: 24px;
  justify-content: center;
  padding: 0;
}

.gallery-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.js-gallery-image {
  width: 360px;
  height: 200px;
  overflow: hidden;
  margin: 0;
}

.js-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(100%, 1440px);
  aspect-ratio: 1440 / 696;

  background-color: rgba(46, 47, 66, 0.8);
  margin: auto;
}

.js-large-image {
  width: min(100%, 1112px);
  aspect-ratio: 1112 / 640;
  margin: 28px 164px;
  display: block;
}

@media (max-width: 1143px) {
  .js-large-image {
    width: min(100%, 748px);
    margin: 28px auto;
  }
}

@media (max-width: 759px) {
  .js-large-image {
    width: min(100%, 360px);
  }
}
