.js-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 24px auto;
  list-style: none;
  max-width: 1128px;
  max-height: 648px;
  gap: 24px;
}

.js-gallery-image {
  width: 360px;
  height: 200px;
  overflow: hidden;
}

.js-frame {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1440px;
  height: 696px;

  background-color: rgba(46, 47, 66, 0.8);
}

.js-big-image {
  display: block;
  width: 1112px;
  height: 640px;
  overflow: hidden;
}
